@model PosteCreacionViewModel

@{
    ViewData["Title"] = "Poste/ Caja";
    Layout = null;
}

<flash dismissable="true" />

<div class="container smfont">
    <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.id" onsubmit="return jQueryAjaxPost(this);">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
             <div  class="form-group">

                <label asp-for="Nombre" class="Form-label"></label>
                <input asp-for="Nombre" class="form-control"/>
                <span asp-validation-for="Nombre" class="Text-danger"></span>
            </div>
            <div class="form-group">
             <label asp-for="Longitud" class="Form-label"></label>
            <input asp-for="Longitud" class="form-control"/>
            <span asp-validation-for="Longitud" class="Text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Latitud" class="Form-label"></label>
              <input asp-for="Latitud" class="form-control"/>
              <span asp-validation-for="Latitud" class="Text-danger"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
