@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h1 class="display-5">Esta es una aplicacion creada para Cablecosta S.A</h1>
     <h1 class="display-7">Factura-Servicio</h1>
    
</div>
