@model IEnumerable<Vivienda>
@{
    <h1>Listados de viviendas</h1>
    <h5> Se refiere al tipo de vivienda que contiene la base se datos  </h5>


    <a asp-action="Crear" class=" btn btn-primary mb-3">Crear Nuevo</a>

    <table class="table">

        <thead>
           <tr>
                <th>Aciones</th>
                <th>Tipo</th>
                <th>Estado</th>
           </tr>
    
        </thead>
        <tbody>
            @foreach (var vivienda in Model)
            {
                <tr>
                    <td>
                       <a asp-action="Editar" class="btn btn-primary">Editar</a>
                       <a class= "btn btn-danger">Borar</a>
                    </td>
                    <td>
                    @vivienda.Tipo
   
                    </td>
                     <td>
                    @vivienda.Estado
   
                    </td>
                </tr>
            }

        
        </tbody>
    
    </table>
}