@model Ruta


@{
    ViewData["title"] = "Crear Rutas";

}
<h1>Crear las Rutas  </h1>
<h5>Aqui puede Crear las rutas asociadas a su proyecto.</h5>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class= "form-label"></label>
         <input type="text" asp-for="Nombre" class="form-control" />
         <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

      <div class="mb-3">
        <label asp-for="LongitudIni" class= "form-label"></label>
         <input type="text"asp-for="LongitudIni" class="form-control" />
         <span asp-validation-for="LongitudIni" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="latitudIni" class= "form-label"></label>
         <input type="text"asp-for="latitudIni" class="form-control" />
         <span asp-validation-for="latitudIni" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Longitudfin" class= "form-label"></label>
         <input type="text"asp-for="Longitudfin" class="form-control" />
         <span asp-validation-for="Longitudfin" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label asp-for="LatitudFin" class= "form-label"></label>
         <input type="text"asp-for="LatitudFin" class="form-control" />
         <span asp-validation-for="LatitudFin" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Estado" class= "form-label"></label>
         <input type="text"asp-for="Estado" class="form-control" />
         <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
    <a class= "btn btn-secondary" asp-action="Index">Cancelar</a>


</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}