@model IEnumerable<Ruta>
@{
    <h1>Listados de Las Rutas</h1>
    <h5> Se refiere al tipo de vivienda que contiene la base se datos  </h5>


    <a asp-action="Crear" class=" btn btn-primary mb-3">Crear Nuevo</a>

    <table class="table">

        <thead>
           <tr>
                <th>Aciones</th>
                <th>Nombre</th>
                <th>LongitudIicial</th>
                <th>LatitudInicial</th>
                <th>LongitudFinal</th>
                <th>Latitudfinal</th>
                <th>Estado</th>
                
           </tr>
    
        </thead>
        <tbody>
          
        
        </tbody>
    
    </table>
}